/* @use "../../../scss/global";
@use "../../../scss/vars"; */

.score-container {
  width: fit-content;
  border-radius: var(--border-r);
  background-color: var(--clr-bg-light);
  margin: 0 0 0 auto;
  &:hover {
    cursor: pointer;
  }
}

.score-text {
  padding: 0.5em 1.5em;
  margin: 0;
  user-select: none;
}
