.tutorial {
    padding-top: 5.5rem;
}

@media screen and (min-width: 78rem) {
    .tutorial {
        transform: translateX(calc(var(--width-sidebar)));
    }
}

.tutorial-title {
    font-size: clamp(1.3rem, 5vw, 2rem);
    color: var(--clr-secondary);
}
