* {
    box-sizing: border-box;
}
html {
    background-color: var(--clr-bg);
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}

body {
    margin: 0;
    padding: 0 1em;
    background: var(--clr-bg);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--clr-txt);
    line-height: 1.6;
    min-height: 100vh;
    min-height: calc(var(--vh, 1vh) * 100);
}

.btn {
    background-color: var(--clr-primary);
    border: none;
    border-radius: 0.25rem;
    outline: none;
    padding: 0.25em 1.5em;
    font-size: clamp(1em, 4vw, 1.1em);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-bg);
    box-shadow: 2px 2px 3px 2px black;
    transition: background-color 300ms linear;
    &:hover {
        background-color: var(--clr-tertiary);
    }
}

@media screen and (min-width: 82rem) {
    //78 prev
    .page-wrapper {
        transform: translateX(
            calc(var(--width-sidebar) / 2)
        ); // width of sidebar is /2 because piano is centered using margin 0 auto
    }
    #root {
        // perhaps not best practice
        overflow-x: hidden;
    }
}
