:root {
    --clr-bg: #141b20;
    --clr-bg-med: #202b33;
    --clr-bg-light: #2f3f4b;

    --clr-bg-dark: #0e1216;
    --clr-primary: #faebd7;
    --clr-secondary: #ffbdd6;
    --clr-secondary-l: #fdd1e2;
    --clr-tertiary: #94dcec;
    --clr-txt: #fff7ec;
    --clr-correct: #03d4ae;
    --clr-correct-l: #04dbb4;

    --transition-transform: transform 300ms linear;
    --transition-clr: color 300ms linear;

    --max-width: 56rem;
    --max-width-text: 45rem;
    --border-r: 0.4rem;
    --spacing: 0.15rem;
    --width-sidebar: 20rem;
    --width-fullscreen: 78rem;

    --black-key-width: 8%;
    --increase-toggle: 2.2;
}
