.expandable-heading {
    letter-spacing: 0.15rem;
    margin: 0 0 1rem 0;
    color: var(--clr-tertiary);
    cursor: pointer;
    width: fit-content;
    font-size: clamp(1.1rem, 2vw, 1.5rem);
}
.expandable-dropdown-icon {
    margin-left: 0.5rem;
}

.expandable-body {
    max-height: 0px;
    transform-origin: top;
    transition: max-height 300ms linear;
    overflow: hidden;
    & p {
        margin: 0 0 1rem 0;
        line-height: 1.6;
        font-size: clamp(0.9rem, 3vw, 1rem);
        max-width: var(--max-width-text);
        background-color: var(--clr-bg-med);
        padding: 1rem;
        border-radius: 8px;
    }
}

.expandable-dropdown-icon {
    font-size: clamp(1.15rem, 5vw, 1.4rem);
    margin-bottom: -0.2rem;

    transition: transform 300ms linear;
    &.show {
        transform: rotate(-180deg);
    }
}
