.error-page {
    position: relative;
    width: 100%;
    height: clamp(60vh, 30rem, 100vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.error-header {
    margin-bottom: 0.3rem;
    margin-top: 0;
    font-size: 2rem;
}

.error-text {
    margin-bottom: 1.5rem;
    margin-top: 0;
    opacity: 0.85;
    font-size: 1rem;
}
