.controls {
  --increase: 2.2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  margin: 0 auto 1em auto;
  color: var(--clr-bg);
}

.pick-key select {
  margin-left: 0;
  width: 6rem;
}
.pick-key label {
  display: none;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-r);
}

.controller-tgl-btn {
  position: relative;
  width: calc(74px * var(--increase) - 24px); //-4
  height: 36px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--clr-bg-light);
  transition: 0.3s ease all;
}

.knobs:before,
.knobs:after,
.knobs span {
  position: absolute;
  top: 4px;
  width: calc(20px * var(--increase));
  height: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px calc(4px * var(--increase));
  border-radius: var(--border-r);
  transition: 0.3s ease all;
}

/* coloured slide */
.knobs:before {
  content: "";
  left: 4px; /* margin-left */
  background-color: var(--clr-secondary);
}

/* Minor text */
.knobs:after {
  content: "Minor";
  right: 4px; /* margin right */
  top: 50%;
  transform: translateY(-50%);
  top: 16px;
}

/* Major text */
.knobs span {
  display: inline-block;
  left: 4px; /* margin left */
  z-index: 1;
  top: 2px;
  user-select: none;
}

.checkbox:checked + .knobs:before {
  left: calc(42px * var(--increase) - 20px);
  background-color: var(--clr-tertiary);
}

.checkbox:checked + .knobs:after {
  color: var(--clr-bg);
}

/* desktop */
@media only screen and (min-width: 30rem) {
  .pick-key select {
    margin-left: 1em;
  }
  .pick-key label {
    display: inline;
  }
}
