.ear-trainer-footer {
  max-width: var(--max-width);
  margin: clamp(0.6em, 3vh, 1.5em) auto 0 auto;
  display: flex;

  align-items: center;
}

.ear-trainer-footer-btn {
  height: clamp(2rem, 8vw, 2.4rem);
  width: clamp(2rem, 8vw, 2.4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(2rem, 8vw, 2.4rem);
  color: var(--clr-bg);
  border-radius: 50%;
  border: none;
  padding: 0.1em;
  background-color: var(--clr-primary);
  margin-right: clamp(1.2rem, 7vw, 2.5rem);
  transition: transform 100ms linear, opacity 250ms linear;
  overflow: visible;
  &:hover {
    opacity: 0.85;
  }
}
.replay-btn {
  transition: transform 100ms linear;
  &:active {
    transform: rotate(180deg);
  }
}

.settings-btn {
  z-index: 900;
}

.score {
  &-container {
    width: fit-content;
    border-radius: var(--border-r);
    background-color: var(--clr-bg-light);
    margin: 0 0 0 auto;
    &:hover {
      cursor: pointer;
    }
  }

  &-text {
    padding: 0.5em 1.5em;
    margin: 0;
    user-select: none;
  }
}
