* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-bg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-txt);
  padding: 1em;
  line-height: 1.6;
}

.ear-trainer {
  max-width: 140vh;
  margin: 0 auto;
}
