.help-modal {
  position: absolute;
  z-index: 800;
  background-color: var(--clr-bg-light);
  color: var(--clr-primary);
  opacity: 0;
  pointer-events: none;
  padding: 1em 2em;
  border-radius: var(--border-r);
  width: 90%;
  max-height: calc(var(--vh, 1vh) * 95);
  max-width: 39rem;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.show,
  &:active {
    opacity: 1;
    pointer-events: none;
  }

  &-header {
    color: var(--clr-tertiary);
    margin: 0;
  }
  & p {
    margin: 1em 0 0 0;
    line-height: 1.4;
    font-size: clamp(0.6rem, 2.4vh, 1.2rem);
  }

  & svg {
    font-size: 1.3em;
  }
}
