.help-modal {
  position: absolute;
  z-index: 800;
  background-color: var(--clr-bg-light);
  color: var(--clr-primary);
  opacity: 0;
  pointer-events: none;
  padding: 1em 2em;
  border-radius: var(--border-r);
  width: 80%;
  max-width: 30rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.show,
  &:active {
    opacity: 1;
    pointer-events: auto;
  }
}
