.select-notes-modal {
  z-index: 300;
  position: absolute;
  min-width: 18rem;
  padding: 0.5em 1em;
  border: 0.1em solid var(--clr-primary);
  border-radius: var(--border-r);
  background-color: var(--clr-bg-light);
  /* & label {
    display: inline-block;
    font-size: clamp(1rem, 3vw, 1.2rem);
    width: 1.65rem;
  } */
}
/* checkbox */
/* input.select-notes-checkboxes-box {
  width: clamp(1rem, 3vw, 1.2rem);
  height: clamp(1rem, 3vw, 1.2rem);
  background-color: pink;
  border-radius: 8px;
} */

.select-notes-checkboxes {
  //max-width: 1rem;
  //background-color: pink;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  margin-top: 1rem;
  //column-gap: 0.25em;
  //row-gap: 0.25em;
}

.select-notes-btn {
  &-container {
    //width: 100%;
    display: flex;
    //justify-content: space-around;
    gap: 1.5em;
  }

  background-color: var(--clr-tertiary);
  color: var(--clr-bg);
  padding: 0.25em 1em;
  font: inherit;
  font-size: clamp(0.7rem, 4vw, 0.9rem);
  text-transform: uppercase;
  letter-spacing: 0.175em;
  font-weight: 600;
  border-radius: var(--border-r);
  border: none;
  transition: opacity linear 300ms;
  &:hover {
    opacity: 0.75;
  }
}

/* The container */
.select-notes-checkboxes-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.select-notes-checkboxes-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.select-notes-checkboxes-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: var(--clr-primary);
  border-radius: var(--border-r);
  transition: opacity 250ms linear;
}

/* On mouse-over, add a grey background color */
.select-notes-checkboxes-container:hover
  input
  ~ .select-notes-checkboxes-checkmark {
  opacity: 0.85;
}

/* When the checkbox is checked, add a blue background */
.select-notes-checkboxes-container
  input:checked
  ~ .select-notes-checkboxes-checkmark {
  background-color: var(--clr-tertiary);
}

/* Create the checkmark/indicator (hidden when not checked) */
.select-notes-checkboxes-checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.select-notes-checkboxes-container
  input:checked
  ~ .select-notes-checkboxes-checkmark::after {
  display: block;
}

/* Style the checkmark/indicator */
.select-notes-checkboxes-container .select-notes-checkboxes-checkmark::after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--clr-bg);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
