.select-notes-modal {
  //position: absolute;
  min-width: 18rem;
  padding: 0.5em 1em;
  border: 0.2em solid var(--clr-primary);
  border-radius: var(--border-r);
  background-color: var(--clr-bg-light);
  & label {
    display: inline-block;
    font-size: clamp(1rem, 3vw, 1.2rem);
    width: 1.65rem;
  }
}
input.select-notes-checkboxes-note-box {
  width: clamp(1rem, 3vw, 1.2rem);
  height: clamp(1rem, 3vw, 1.2rem);
  background-color: pink;
  border-radius: 8px;
}

.select-notes-checkboxes {
  //max-width: 1rem;
  //background-color: pink;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4.5rem, 1fr));
  margin-top: 1rem;
  //column-gap: 0.25em;
  //row-gap: 0.25em;
}

.select-notes-checkboxes-note-container {
  display: inline;
}
