:root {
  --clr-bg: #141b20;
  --clr-bg-light: #2f3f4b;
  --clr-primary: #faebd7;
  --clr-secondary: #ffbdd6;
  --clr-secondary-l: #fdd1e2;
  --clr-tertiary: #94dcec;
  --clr-txt: #fff7ec;
  --clr-correct: #03d4ae;
  --clr-correct-l: #04dbb4;

  --max-width: 56rem;
  --border-r: 0.4rem;

  --black-key-width: 8%;
}
