:root {
  --clr-bg: rgb(20, 27, 32);
  --clr-bg-light: rgb(47, 63, 75);
  --clr-primary: #faebd7;
  --clr-secondary: #ffbdd6;
  --clr-tertiary: #94dcec;
  --clr-txt: rgb(255, 247, 236);

  --max-width: 56rem;
  --border-r: 0.4rem;

  --black-key-width: 8%;
}
