.piano-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul {
  min-width: 20rem;
  max-width: var(--max-width);
  width: 100%;
  aspect-ratio: 2 / 1;
  padding: 0;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.white {
  height: 100%;
  width: 14.29%;
  z-index: 1;
  border: 1px solid #cccccc;
  border-radius: 0 0 0.35em 0.35em;
  -webkit-box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 4px #ccc inset, 0 0 2px rgba(39, 39, 39, 0.2);
          box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 4px #ccc inset, 0 0 2px rgba(39, 39, 39, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#fff));
  background: linear-gradient(to bottom, #fafafa 0%, #fff 100%);
}

.white:active {
  -webkit-box-shadow: 2px 0 3px rgba(112, 112, 112, 0.1) inset, -5px 5px 20px rgba(90, 90, 90, 0.2) inset, 0 0 3px rgba(90, 90, 90, 0.2);
          box-shadow: 2px 0 3px rgba(112, 112, 112, 0.1) inset, -5px 5px 20px rgba(90, 90, 90, 0.2) inset, 0 0 3px rgba(90, 90, 90, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fafafa));
  background: linear-gradient(to bottom, #fff 0%, #fafafa 100%);
}

.white:active .text {
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
  color: black;
}

.white.inactive {
  opacity: 0.6;
}

.black {
  height: 60%;
  width: var(--black-key-width);
  margin: 0 0 0 calc(var(--black-key-width) / -2);
  z-index: 2;
  border: 1px solid #000;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(45deg, #222 0%, #333 100%);
}

.black:active {
  -webkit-box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
          box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset, 0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(#333), to(#222));
  background: linear-gradient(to right, #333 0%, #222 100%);
}

.black:active .text-black {
  -webkit-transform: scale(0.985);
          transform: scale(0.985);
  color: var(--border-r);
  opacity: 0.9;
}

.black.inactive {
  opacity: 0.7;
}

.d,
.e,
.g,
.a,
.b {
  margin: 0 0 0 calc(var(--black-key-width) / -2);
}

.b {
  border-top-right-radius: 0.35em;
}

.c {
  border-top-left-radius: 0.35em;
}

.text {
  font-size: 1.2em;
  font-size: clamp(1em, 3.4vw, 1.7em);
  font-weight: 700;
  margin-bottom: 1em;
  color: var(--clr-bg);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.text-black {
  font-size: 0.9em;
  font-size: clamp(0.65em, 2.7vw, 1.1em);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 1.1em;
  color: var(--clr-primary);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.correct {
  background-color: green;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--clr-bg);
  font-family: Arial, Helvetica, sans-serif;
  color: var(--clr-txt);
  padding: 1em;
  line-height: 1.6;
}

.ear-trainer {
  max-width: 140vh;
  margin: 0 auto;
}

:root {
  --clr-bg: rgb(20, 27, 32);
  --clr-bg-light: rgb(47, 63, 75);
  --clr-primary: #faebd7;
  --clr-secondary: #ffbdd6;
  --clr-tertiary: #94dcec;
  --clr-txt: rgb(255, 247, 236);
  --max-width: 56rem;
  --border-r: 0.4rem;
  --black-key-width: 8%;
}

.controls {
  --increase: 2.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: var(--max-width);
  margin: 0 auto 1em auto;
  color: var(--clr-bg);
}

.pick-key select {
  margin-left: 0;
  width: 6rem;
}

.pick-key label {
  display: none;
}

.button-cover,
.knobs,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--border-r);
}

.controller-tgl-btn {
  position: relative;
  width: calc(74px * var(--increase) - 24px);
  height: 36px;
}

.checkbox {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

.knobs {
  z-index: 2;
}

.layer {
  width: 100%;
  background-color: var(--clr-bg-light);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

.knobs:before,
.knobs:after,
.knobs span {
  position: absolute;
  top: 4px;
  width: calc(20px * var(--increase));
  height: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  padding: 9px calc(4px * var(--increase));
  border-radius: var(--border-r);
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}

/* coloured slide */
.knobs:before {
  content: "";
  left: 4px;
  /* margin-left */
  background-color: var(--clr-secondary);
}

/* Minor text */
.knobs:after {
  content: "Minor";
  right: 4px;
  /* margin right */
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 16px;
}

/* Major text */
.knobs span {
  display: inline-block;
  left: 4px;
  /* margin left */
  z-index: 1;
  top: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.checkbox:checked + .knobs:before {
  left: calc(42px * var(--increase) - 20px);
  background-color: var(--clr-tertiary);
}

.checkbox:checked + .knobs:after {
  color: var(--clr-bg);
}

/* desktop */
@media only screen and (min-width: 30rem) {
  .pick-key select {
    margin-left: 1em;
  }
  .pick-key label {
    display: inline;
  }
}

select {
  margin-left: 1em;
  background-color: var(--clr-bg-light);
  border: 0.2em solid var(--clr-txt);
  border: none;
  border-radius: 6px;
  padding: 0.3em 2em 0.3rem 0.3rem;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
  color: var(--clr-txt);
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-transition: var(--transition-clr);
  transition: var(--transition-clr);
}

select:focus {
  /* border-color: var(--clr-seconday); */
  color: var(--clr-primary);
  outline: none;
}

label {
  font-size: clamp(0.9rem, 4vw, 1.1rem);
  color: var(--clr-txt);
}

.ear-trainer-footer {
  max-width: var(--max-width);
  margin: clamp(0.6em, 3vh, 1.5em) auto 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.note-selector-btn {
  font-size: clamp(1.2rem, 7.5vw, 2.4rem);
  color: var(--clr-bg);
  border-radius: 50%;
  padding: 0.15em;
  background-color: var(--clr-primary);
  margin-left: 2vw;
  -webkit-transition: opacity 250ms linear, -webkit-transform 100ms linear;
  transition: opacity 250ms linear, -webkit-transform 100ms linear;
  transition: transform 100ms linear, opacity 250ms linear;
  transition: transform 100ms linear, opacity 250ms linear, -webkit-transform 100ms linear;
  overflow: visible;
}

.note-selector-btn:hover {
  opacity: 0.85;
}

.replay-btn {
  font-size: clamp(2.2rem, 7.5vw, 2.8rem);
  color: var(--clr-primary);
  -webkit-transition: opacity 250ms linear, -webkit-transform 100ms linear;
  transition: opacity 250ms linear, -webkit-transform 100ms linear;
  transition: transform 100ms linear, opacity 250ms linear;
  transition: transform 100ms linear, opacity 250ms linear, -webkit-transform 100ms linear;
}

.replay-btn:hover {
  opacity: 0.85;
}

.replay-btn:active {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.score-container {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: var(--border-r);
  background-color: var(--clr-bg-light);
  margin: 0 0 0 auto;
}

.score-text {
  padding: 0.5em 1.5em;
  margin: 0;
}

.footer-help {
  font-size: clamp(1em, 4vw, 1.7em);
  color: var(--clr-primary);
}

.help-modal {
  position: absolute;
  background-color: var(--clr-bg-light);
  color: var(--clr-primary);
  opacity: 0;
  pointer-events: none;
  padding: 1em 2em;
  border-radius: var(--border-r);
  width: 80%;
  max-width: 30rem;
  left: 50%;
  top: 25%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  -webkit-transition: opacity 150ms linear;
  transition: opacity 150ms linear;
}

.help-modal.show, .help-modal:active {
  opacity: 1;
  z-index: 100;
  pointer-events: default;
}
/*# sourceMappingURL=index.css.map */