.piano-container {
  display: flex;
  justify-content: center;
  align-items: center;

  ul {
    min-width: 20rem;
    max-width: var(--max-width);
    width: 100%;
    //aspect-ratio: 2 / 1;
    padding: 0;
    margin: 0 auto;
    position: relative;
    display: flex;
  }

  li {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .white {
    height: 100%;
    width: 14.29%;
    z-index: 1;
    //border: 1px solid rgb(204, 204, 204);
    border-radius: 0 0 0.35em 0.35em;
    box-shadow: -1px 0 0 rgba(255, 255, 255, 0.8) inset, 0 0 4px #ccc inset,
      0 0 2px rgba(39, 39, 39, 0.2);
    background: linear-gradient(to bottom, rgb(250, 250, 250) 0%, #fff 100%);
    &:active {
      box-shadow: 2px 0 3px rgba(112, 112, 112, 0.1) inset,
        -5px 5px 20px rgba(90, 90, 90, 0.2) inset, 0 0 3px rgba(90, 90, 90, 0.2);
      background: linear-gradient(to bottom, #fff 0%, rgb(250, 250, 250) 100%);
    }
    &:active .text {
      transform: scale(0.97);
      color: rgb(0, 0, 0);
    }
    &.inactive {
      opacity: 0.6;
      pointer-events: none;
    }
  }

  .black {
    height: 60%;
    width: var(--black-key-width);
    margin: 0 0 0 calc(var(--black-key-width) / -2);
    z-index: 2;
    border: 1px solid #000;
    border-radius: 0 0 3px 3px;
    box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
      0 -5px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 2px 4px rgba(0, 0, 0, 0.5);
    background: linear-gradient(45deg, #222 0%, #333 100%);
    &:active {
      box-shadow: -1px -1px 2px rgba(255, 255, 255, 0.2) inset,
        0 -2px 2px 3px rgba(0, 0, 0, 0.6) inset, 0 1px 2px rgba(0, 0, 0, 0.5);
      background: linear-gradient(to right, #333 0%, #222 100%);
    }
    &:active .text-black {
      transform: scale(0.985);
      color: var(--border-r);
      opacity: 0.9;
    }
    &.inactive {
      opacity: 0.7;
      pointer-events: none;
    }
  }

  .d,
  .e,
  .g,
  .a,
  .b {
    margin: 0 0 0 calc(var(--black-key-width) / -2);
  }
  .b {
    border-top-right-radius: 0.35em;
  }
  .c {
    border-top-left-radius: 0.35em;
  }

  .text-white {
    font-size: 1.2em;
    font-size: clamp(0.9em, 3vw, 1.7em);
    font-weight: 700;
    margin-bottom: 1em;
    color: var(--clr-bg);
    user-select: none;
    pointer-events: none;
  }

  .text-black {
    font-size: 0.9em;
    font-size: clamp(0.55em, 2vw, 1.1em);
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 1.1em;
    color: var(--clr-primary);
    user-select: none;
    pointer-events: none;
  }

  .correct {
    background: linear-gradient(
      45deg,
      var(--clr-correct) 0%,
      var(--clr-correct-l) 100%
    );
  }
  .incorrect {
    background: linear-gradient(
      45deg,
      var(--clr-secondary) 0%,
      var(--clr-secondary-l) 100%
    );
  }
}
